@use "./font.scss";
@use "./reboot.scss";

body,
html {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.87);
  user-select: none;
}

#container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;

  &.index-page {
    gap: 2rem;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 65vw;
      gap: 1rem;

      label {
        text-align: center;
      }

      input {
        background: rgba(0, 0, 0, 10%);
        border: 2px rgba(0, 0, 0, 10%) solid;
        box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 10%);
        backdrop-filter: blur(5px);

        width: 100%;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;

        text-align: center;
        color: rgba(255, 255, 255, 0.87);

        &:focus-visible {
          outline: none;
          border-color: rgba(0, 0, 0, 20%);
          box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 20%);
          backdrop-filter: blur(7.5px);
        }
      }
    }
  }

  &.page-with-text-content {
    padding: 3rem;
    transition: background 500ms;

    #message-container {
      width: 100%;

      &.messages-from-others {
        position: relative;
        overflow: hidden;

        .message-content {
          position: absolute;
          top: 0;

          transition: 500ms ease-out;
          animation-fill-mode: forwards;
        }

        #button {
          // Higher than .message.next
          z-index: 1;
        }
      }

      &:not(.messages-from-others) {
        p {
          text-align: center;
        }
      }

      .message-content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &.previous {
          opacity: 0;
          transform: translateY(-20vh);
        }

        &.next {
          opacity: 0;
          transform: translateY(20vh);
        }

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    #button {
      margin-top: 3rem;
    }
  }

  #button {
    height: 2.5rem;
    cursor: pointer;
  }
}
