@use "./reboot.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

body,
html {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.87);
}

#container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;

  &.login-page {
    gap: 2rem;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 65vw;
      gap: 1rem;

      label {
        text-align: center;
      }

      input {
        background: rgba(0, 0, 0, 10%);
        border: 2px rgba(0, 0, 0, 10%) solid;
        box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 10%);
        backdrop-filter: blur(5px);

        width: 100%;
        padding: 0.5rem 0.75rem;
        border-radius: 0.5rem;

        text-align: center;
        color: rgba(255, 255, 255, 0.87);

        &:focus-visible {
          outline: none;
          border-color: rgba(0, 0, 0, 25%);
          box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 20%);
        }
      }
    }
  }

  &.message-page {
    padding: 3rem;
    transition: background 500ms;

    #message {
      width: 100%;
      height: 50%;
      position: relative;
      overflow: hidden;

      .message-content {
        position: absolute;
        top: 0;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        transition: 500ms ease-out;

        &.previous {
          opacity: 0;
          transform: translateY(-20vh);
        }

        &.next {
          opacity: 0;
          transform: translateY(20vh);
        }

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    #button {
      // Higher than .message.next
      z-index: 1;
    }
  }

  #button {
    height: 2.25rem;
    cursor: pointer;
  }
}
